@charset "utf-8";

#pageHeader{
    background-color:aliceblue;
}
#pageHeaderH1{
    border-bottom:2px blue solid;
}
#pageHeaderContent{
    text-align:center;
}
.redText{
    color:red;
}
.font18{
    font-size:18px;
}

#pageHeader h1{
    border-bottom:2px blue solid;
}
#pageHeader p{
    text-align:center;
}
article > h1{
    text-align:center;
}
#sectionHeader + p{
    color:red;
}
#sectionHeader ~ p{
    background-color:yellow;
}
a:hover{
    color:red;
}
p::first-line{
    color:blue;
    border-bottom:3px blue double;
}
p::first-letter{
    font-size:30px;
    font-weight:bold;
}
ul > li{
    list-style:square;
}
ul ol li{
    list-style:lower-roman;
    /*list-style:square; 通番が四角形になるよ*/
}
table{
    border-collapse:collapse;/*←これセル同士をくっ付ける指定*/
    /*border-collapse:separate;*//*←これセル同士を離す指定。セパレート。*/
}
td,th{
    border:1px solid black;
}
.colBgDarkgrey{
    background-color:darkgrey;
}