@charset "utf-8";

/*navボックスのスタイル設定*/
header nav{
    /*背景色を設定*/
    background-color:aliceblue;
    /*内余白を15pxに設定*/
    padding:15px;
    /*外余白を0pxに設定*/
    margin:0px;
}

/*ナビゲーションのulボックスのスタイル設定*/
header nav ul{
    /*上下外余白を0pxに設定しボックスをセンタリング*/
    margin:0px auto;
    /*内余白を0pxに設定*/
    padding:0px;
    /*ボックスサイズをボーダー基準に設定*/
    box-sizing:border-box;
    /*ボックス幅を100％に設定*/
    width:100%;
    /*テキストの水平方向の字間を設定*/
    letter-spacing:-0.4em;
    /*テキストの位置を設定*/
    text-align:center;
}

/*ナビゲーションのliボックスのスタイル設定*/
header nav li{
    /*liの装飾を無しに設定。装飾って横の●のことだよ。*/
    list-style:none;
    /*liの背景色を設定*/
    background-color:turquoise;
    /*liの中の文字列をセンタリング*/
    text-align:center;
    /*内余白を10pxに設定*/
    padding:10px;
    /*ボックスサイズをボーダー基準に設定*/
    box-sizing:border-box;
    /*対象要素をブロックまたテキストとして扱うかの設定(設定はボックスのままインラインとして扱う設定)*/
    display:inline-block;
    /*インラインとして扱われているのでlette-spacingによる字間調整で要素間の距離を設定*/
    letter-spacing:normal;
}

/*liボックス内のリンクのスタイル設定*/
header nav li a{
    /*文字色を白に設定*/
    color:white;
    /*リンクのアンダーライン装飾を無しに設定*/
    text-decoration-line:none;
}

/*main内のsectionボックスのスタイル設定*/
main section{
    /*背景色を設定*/
    background-color:gainsboro;
    /*内余白を15pxに設定*/
    padding:15px;
}

/*section内のh2ボックスのスタイル設定*/
main section h2{
    /*外余白を0pxに設定*/
    margin:0px;
}

@media screen and (min-width:960px){
    header nav li{
        margin:0px 2px;
        width:16%;
    }
}

@media screen and (min-width:480px) and (max-width:960px){
    header nav li{
        margin:0px 2px 2px;
        width:49%;
    }
}

@media screen and (max-width:480px){
    header nav li{
        margin:0px 0px 2px;
        width:100%;
    }
}