@charset "utf-8";

/*headerボックスのスタイル設定 */
header{
    /*背景色を設定*/
    background-color:aliceblue;
}

/*header内のh1ボックスのスタイル設定*/
header h1{
    /*内余白の上を5px、左右を15px、下を0pxに設定*/
    padding:5px 15px 0px;
    /*外余白を0pxに設定*/
    margin:0px;
    /*文字色を設定*/
    color:darkgrey;
}
/*navボックスのスタイル設定*/
header nav{
    /*内余白の上を5px、左右15px、下を15pxに設定*/
    padding:5px  15px 15px;
    /*外余白を0pxに設定*/
    margin:0px;
}

/*ナビゲーションのulボックスのスタイル設定*/
header nav ul{
    /*上下外余白を0pxに設定しボックスをセンタリング*/
    margin:0px auto;
    /*内余白を0pxに設定*/
    padding:0px;
    /*ボックスサイズをボーダー基準に設定*/
    box-sizing:border-box;
    /*ボックス幅を100％に設定*/
    width:100%;
     /*対象要素をブロックまたテキストとして扱うかの設定*/
    display:flex;
    /*flexを設定された要素の並び方向を設定*/
    flex-direction:row;
    /*フレックスアイテムを単一行に押し込むか、あるいは複数行に折り返してもよいかを指定する。折り返しを許可する場合は、行を積み重ねる方向の制御も可能。*/
    flex-wrap:wrap;
}

/*ナビゲーションのliボックスのスタイル設定*/
header nav li{
    /*liの装飾を無しに設定。装飾って横の●のことだよ。*/
    list-style:none;
    /*liの背景色を設定*/
    background-color:turquoise;
    /*liの中の文字列をセンタリング*/
    text-align:center;
    /*内余白を10pxに設定*/
    padding:10px;
    /*ボックスサイズをボーダー基準に設定*/
    box-sizing:border-box;
    margin:2px;
    flex:1 0 140px;
}

/*liボックス内のリンクのスタイル設定*/
header nav li a{
    /*文字色を白に設定*/
    color:white;
    /*リンクのアンダーライン装飾を無しに設定*/
    text-decoration-line:none;
}

/*mainボックスのスタイル設定*/
main{
    /*背景色を設定*/
    background-color:gainsboro;
    /*内余白を15pxに設定*/
    padding:15px;
}

/*main内のh2ボックスのスタイル設定*/
main h2{
    /*背景色を設定*/
    background-color:white;
    /*内余白を5pxに設定*/
    padding:5px;
    /*外余白を0pxに設定*/
    margin:0px;
    /*フォントサイズを16ptに設定*/
    font-size:16pt;
    /*アンダーラインのような装飾としてボックス下境界性を設定*/
    border-bottom:2px solid darkgray;
}

/*main内のsectionボックスのスタイル設定*/
main section{
    /*背景色を設定*/
    background-color:gainsboro;
    /*内余白を15pxに設定*/
    padding:15px;
}

/*section内のh2ボックスのスタイル設定*/
main section h2{
    /*外余白を0pxに設定*/
    margin:0px;
}